body {
  font-family: 'Raleway', sans-serif; }

p {
  margin: 0 0 20px; }

.navbar-default {
  background-color: #212E38;
  border-color: #212E38;
  border-radius: 0;
  margin-bottom: 0; }

.navbar-brand img {
  height: 20px; }

.navbar-inverse .navbar-nav > li > a {
  color: #ddd;
  text-transform: uppercase;
  font-size: 0.9em; }

.home-hero {
  padding: 60px 0;
  min-height: 300px;
  position: relative;
  text-align: center;
  background: #57BBAB; }
  .home-hero :after {
    background: linear-gradient(to right, #bcbcbc 25%, #FEC94B 25%, #FEC94B 50%, #EE5948 50%, #EE5948 75%, #505CA2 75%);
    position: absolute;
    content: '';
    height: 5px;
    right: 0;
    left: 0;
    bottom: 0; }
  .home-hero .logo {
    max-height: 230px;
    margin-bottom: 40px; }
  .home-hero h1 {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: normal; }
  .home-hero h3 {
    color: white;
    padding: 15px 40px;
    font-size: 1.5em;
    min-width: 80%;
    margin: 0; }
  .home-hero .learn-more-btn {
    border-radius: 25px;
    border: 2px solid white;
    background: transparent;
    color: white;
    text-transform: uppercase;
    padding: 11px 65px;
    display: inline-block;
    margin: 30px 0; }
    .home-hero .learn-more-btn:hover, .home-hero .learn-more-btn:focus {
      background: rgba(255, 255, 255, 0.3);
      color: white;
      text-decoration: none; }
    .home-hero .learn-more-btn .btn-icon {
      max-width: 25px;
      display: inline-block; }
      .home-hero .learn-more-btn .btn-icon .right {
        margin-left: 20px; }

.definition {
  padding: 60px 0 10px;
  text-align: center; }
  .definition h2 {
    margin: 0 0 40px;
    font-size: 2.3em;
    text-align: center; }

.how-icons {
  width: 130px;
  margin-bottom: 30px; }

.full-width {
  width: 100%;
  padding: 50px 0;
  margin: 40px 0; }
  .full-width.definition-section {
    background: #47B3E6;
    color: white;
    text-align: left; }
    .full-width.definition-section p {
      margin: 0 0 10px; }
    .full-width.definition-section h5 {
      font-weight: bold;
      font-size: 30px;
      text-align: right;
      display: inline-block; }
    .full-width.definition-section .left {
      text-align: right; }
    .full-width.definition-section .right {
      border-left: 1px solid #318CC0;
      padding-left: 35px; }

@media (max-width: 767px) {
  .full-width {
    padding: 40px 0; }
    .full-width.definition-section .left {
      margin-bottom: 20px;
      text-align: left; }
    .full-width.definition-section .right {
      padding-left: 0;
      border-left: 0;
      border-top: 1px solid #318CC0;
      padding-top: 20px; } }

.form-intro {
  text-align: center;
  margin-bottom: 40px; }

.main-button {
  padding: 10px 50px;
  color: white;
  background: #505CA2;
  border: 1px solid #505CA2;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: 50px; }
  .main-button:hover, .main-button:focus {
    text-decoration: none;
    color: white;
    background: #141727; }

.page-heading {
  color: white; }

.section-subheading {
  font-size: 20px;
  margin-bottom: 40px; }

.form-group label {
  color: black; }

.floating-label-form-group span {
  color: #EE5948; }

.form-control {
  padding: 25px 12px; }

.page-intro {
  background: #EE5948;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px; }
  .page-intro h1 {
    text-align: center;
    color: white; }

.section-summary {
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
  margin: 0 0 60px; }

.bio-image {
  margin-bottom: 30px;
  max-width: 100%; }

.about-top {
  border-left: 5px solid #57BBAB;
  padding-left: 20px;
  margin-bottom: 30px; }

.name, .title {
  font-weight: bold; }

.name {
  font-size: 1.6em; }

.bio {
  font-style: italic;
  margin-bottom: 30px; }

ul.resources-list {
  margin: 30px 0;
  padding: 0; }
  ul.resources-list li {
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    ul.resources-list li p {
      margin: 0 0 5px; }
    ul.resources-list li .main-button {
      margin: 10px 0 0;
      padding: 10px 30px; }
    ul.resources-list li:last-child {
      border-bottom: 0;
      margin-bottom: 40px; }
  ul.resources-list h4 {
    border-bottom: 1px solid #999;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px; }

footer {
  background: #000;
  color: #777;
  padding: 20px 0; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px; }

.center {
  text-align: center; }

#fm-medium-embed {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center; }
  #fm-medium-embed a {
    color: #505CA2; }

.fm-post-wrapper {
  display: inline-block;
  border-radius: 3px;
  width: 300px;
  padding: 15px 15px 20px;
  background: #fff;
  text-align: left;
  margin: 10px;
  border: 1px solid #bbb;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25); }

.fm-post-title {
  font-size: 20px;
  font-weight: bold; }

.fm-post-sub-title {
  min-height: 120px;
  line-height: 24px;
  color: #333; }

.fm-medium-profile {
  margin: 10px 0 50px;
  padding: 5px;
  display: block; }

.fm-medium-profile a {
  padding: 10px 50px;
  color: white !important;
  background: #505CA2;
  border: 1px solid #505CA2;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: 50px; }
  .fm-medium-profile a:hover, .fm-medium-profile a:focus {
    text-decoration: none;
    color: white !important;
    background: #141727; }
